extends layout

block content
  h1= heading
  p Welcome buddy! Take a #{seat}, grab some #{coffee} ☕
  p "Keep faith, drink more water and may the stacks never stop overflowing" - 
    strong Anonymous, 2020
  p Disclaimer: this project is mere clone and does not replace the real project!
  a(href="https://github.com/josenriagu/furry-winner") View Codebase